<div class="mt-4 col-8 offset-2">
  <div class="card">
    <div class="card-header">
      Авторизация
    </div>
    <div class="card-body">
      <form
        [formGroup]="form"
        (submit)="submit()"
      >
        <div class="alert alert-danger" role="alert" *ngIf="auth.error$ | async as error">
          {{ error }}
        </div>
        <div class="form-group row">
          <label for="email" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="email" formControlName="email" required="required">
          </div>
        </div>
        <div class="form-group row">
          <label for="password" class="col-sm-2 col-form-label">Пароль</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="password" formControlName="password" required="required">
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Войти</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
